<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Inventory</title>
</head>
<body>
    <h1>Edit Inventory</h1>
    <h3>Item ID# <%= item._id %></h3>
    <form action="/inventory/edit?id=<%=item._id%>" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" value="<%=  item.name %>">
        <br>
        <label for="amount">Amount</label>
        <input type="number" name="amount" value="<%=item.amount%>">
        <br>
        <input type="submit" value="Submit">
    </form>

    <button onclick=deleteItem()>DELETE</button>

    <script>

        var url = "/inventory/edit/delete?id=<%= item._id %>";

        function deleteItem(){
            if(confirm("Are you sure you want to delete it? Won't be able to undo change!")){
                
               location.href = url

            }
        }
    </script>
</body>
</html>